.performance-log-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.performance-log-rating {
    /* background: green; */
    height: 60vh;
    width: 85%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.rating-card {
    background: white;
    border: solid #D9D5D5 2px;
    width: 80%;
    height: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rating-card > h1 {
    font-weight: bold;
    font-size: 30px;
}

.rating-star {
    cursor: pointer;
    margin: 0 25px;
}
.star-radio {
    display: none;
}