.coach-post-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coach-post-create-post {
    background: white;
    border: solid #707070 1px;
    width: 85%;
    height: 25vh;
    display: flex;
    margin: 25px 0px;
    border-radius: 15px;
}

.coach-post-create-header {
    background: black;
    width: 30%;
    border-radius: 15px 0 0 15px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}

.coach-post-create-header > img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 5px #C13540;

}

.coach-post-create-header > h1 {
    font-size: 25px;
    margin: 15px 0;
    color: white
}

.coach-post-create-header > h2 {
    margin: 2px 0;
    font-size: 16px;
    color: white;
}

.coach-post-create-textarea {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
}

.coach-post-create-textarea > textarea {
    max-width: 90%;
    padding: 10px;
    background: #F4F4F4;
    max-height: 90%;
    border-radius: 10px;
    border: solid #707070 1px;

}