.navbar {
    height: 80px;
    background: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-links {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    
}

.nav-links > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.login-button{
    width: 20%;
}

.login-button > button, .logout-button > button {
    background: white;
    width: 120px;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.nav-logo > img {
    width: 200px;
    cursor: pointer;
}

.navbar_links {
    width: 60%;
    
}
.navbar_real {
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}